body {
  background-color: $bg-color;
  font-family: 'Roboto', 'Lucida Sans', sans-serif;
}

#root {
  height: 100vh;
}

.main__title {
  color: $main-color;
  font-size: 3rem;
}

.container {
  padding: 1rem;
}
