@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/tingle.js/dist/tingle.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$main-color: #2600ff;
$bg-color: #f7ebf6e0;
$white-color: #fff;
/* Reset */

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: 'Roboto', 'Lucida Sans', sans-serif;
}

#root {
  height: 100vh;
}

.main__title {
  color: $main-color;
  font-size: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 1rem;

  .card {
    width: 100%;
    background-color: $white-color;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin: 0 0.1% 1rem 0;
    padding: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    position: relative;
    align-content: center;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .beer {
    display: flex;
    flex-flow: column;
    &__img {
      max-height: 200px;
      align-self: center;
    }
    &__info {
      > div {
        position: absolute;
        background-color: $main-color;
        color: $white-color;
      }
    }
    &__abv {
      right: -51px;
      top: -55px;
      padding: 3rem;
      transform: rotate(45deg);
      span {
        position: absolute;
        bottom: 2%;
        left: 38%;
        font-weight: bold;
        font-size: 14px;
      }
    }
    &__ibu {
      left: 0;
      transform: translate(-50% 0);
      top: 50%;
      padding: 0.6rem;
    }
  }
}

.container {
  padding: 1rem;
}

@for $i from 1 through 9 {
  &.bg#{$i} {
    .tingle-modal-box__content {
      background-color: rgb(random(255), random(255), random(255));
    }
  }
}

.modal {
  display: flex;
  &__title {
    color: $main-color;
    font-weight: bold;
    font-size: 2rem;
    background-color: #fff;
    float: left;
    padding: 0.5rem;
  }
  &__img {
    max-height: 250px;
    align-self: center;
    position: relative;
    z-index: 1;
  }
  &__container {
    background-color: #fff;
    width: 300px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    > span {
      position: absolute;
      padding: 0.4rem;
      background-color: $main-color;
      color: #fff;
      font-weight: bold;
      width: 100%;
    }
  }
  &__ibu {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  &__abv {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    text-align: center;
  }
  &__description {
    background-color: $white-color;
    padding: 1rem;
    font-size: 18px;
    max-height: 400px;
    overflow-y: auto;
  }
  @media screen and (max-width: 650px) {
    flex-flow: column wrap;
    &__container {
      width: 100%;
    }
  }

  .col {
    padding: 0.4rem;
  }
}

@media screen and (min-width: 650px) {
  .tingle-modal-box {
    width: 85%;
  }
  .tingle-modal-box__content {
    max-height: 770px;
  }
}

.dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap column;
  align-items: flex-end;
  margin-top: 1rem;

  ul {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      list-style: none;
    }
  }
  &__button {
    padding: 0.4rem;
    border: 0.5rem solid $main-color;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    background-color: $main-color;
    color: $white-color;
  }
  &__item {
    padding: 0.5rem;
    background-color: $bg-color;
    border: 1px solid $main-color;
    font-size: 1rem;
    position: relative;
    li {
      margin-top: 0.3rem;
      padding: 0.4rem;
      .link {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover {
      background-color: $main-color;
      .link {
        color: #fff;
        &:after {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $white-color;
        }
      }
    }
  }
  .link {
    color: $main-color;
    text-decoration: none;
    padding: 0.3rem;
  }
  &--sub {
    > a {
      &:after {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        content: '';
        border-left: 5px solid #2600ff;
        position: absolute;
        right: 1rem;
        top: 10px;
      }
    }
  }
}
